.list {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.input {
  margin-top: 5px;
}

.brand {
  font-size: 30px;
  font-weight: 900;
  color: var(--main-color-two);
}

.dropdownItem {
  color: black;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
}
.dropdownItem:hover {
  color: white;
}
.blog-list > li {
  color: var(--main-color-two);
  font-weight: 900;
}
.navbar-search {
  background-color: #f5f7f8;
}
.ul {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: black;
}
